@model List<ApartmentViewModel>

@{
    ViewData["Title"] = "Apartments Page";
}

<div class="text-center">
    <div class="list-group-item d-flex justify-content-center align-items-center">
        <h3>Apartments</h3> 
    </div>
    @await Html.PartialAsync("_ApartmentsTable", Model)
    <a class="btn btn-success" href="@Url.Action("Create", "Apartments")" role="button">Create Apartment</a>
</div>
