<form method="post">
    <div class="form-group">
        <label for="exampleFormControlSelect1">User Role</label>
        <select name="Role" class="form-control" id="exampleFormControlSelect1">
            <option class="text-capitalize">admin</option>
            <option class="text-capitalize">owner</option>
            <option class="text-capitalize">renter</option>
        </select>
    </div>

    <div class="form-group">
        <label for="exampleFormControlInput1">Email address</label>
        <input name="Email" type="Email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input name="Password" type="password" class="form-control" id="exampleInputPassword1">
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Name</label>
        <input name="Name" type="text" class="form-control" id="exampleInputPassword1">
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Surname</label>
        <input name="Surname" type="text" class="form-control" id="exampleInputPassword1">
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Phone</label>
        <input name="Phone" type="tel" class="form-control" id="exampleInputPassword1" placeholder="+xx(111)111-1111">
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">TC No</label>
        <input name="TCNo" type="text" class="form-control" id="exampleInputPassword1" placeholder="11111111111">
    </div>

    <input type="submit" value="Create User" class="btn btn-success mt-3"/>
    <a href="#" class="btn btn-secondary mt-3" onclick="history.go(-1);">Cancel</a>
</form>