@model List<UserViewModel>

@{
    ViewData["Title"] = "Users Page";
    var role = Context.Items["Role"];
    ViewBag.Role = role;
}

<div class="text-center">
    <div class="list-group-item d-flex justify-content-center align-items-center">
        <h3>User</h3> 
    </div>
    @await Html.PartialAsync("_UsersTable", Model)

    @if (ViewBag.Role == 0) {
        <a class="btn btn-success" href="@Url.Action("Create", "Users")" role="button">Create User</a>
    }
</div>
