@model List<BillViewModel>

@{
    ViewData["Title"] = "Bills Page";
}

<div class="text-center">
    <div class="list-group-item d-flex justify-content-center align-items-center">
        <h3>Bills</h3> 
    </div>
    @*Include partial bills table*@
    @Html.Partial("_BillsTable", Model)
</div>
