@model List<BillViewModel>

@{
    ViewData["Title"] = "Bills Page";
    var role = Context.Items["Role"];
    ViewBag.Role = role;
}

<div class="text-center">
    <div class="list-group-item d-flex justify-content-center align-items-center">
        <h3>Bills</h3> 
    </div>
    @*Include partial bills table*@
    @Html.Partial("_BillsTable", Model)

    @if (ViewBag.Role == 0) {
        <a class="btn btn-success" href="@Url.Action("Create", "Bills")" role="button">Create Bill</a>
    }
</div>
