@model List<MessageViewModel>

<div class="card">
  <div class="card-header">Message History</div>
  <div class="card-body p-3" style="max-height: 70vh; overflow:scroll">
    @foreach (var item in Model) {
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">@item.From</h5>
            <p class="card-text">@item.Content</p>
            <div class="badge bg-secondary" style="width: 10rem;">
                @item.Date
            </div>
        </div>
    </div>
    }
  </div>
  <form method="post">
    <div class="form-group">
      @* <label for="exampleInputText">Message</label> *@
      <input
        name="Content"
        type="text"
        class="form-control"
        id="exampleInputText"
        placeholder="Type a message here"
      />
    </div>
    <input type="submit" value="Send Message" class="btn btn-success mt-3" />
    <a href="#" class="btn btn-secondary mt-3" onclick="history.go(-1);"
      >Cancel</a
    >
  </form>
</div>